name: basic-test
on:
  pull_request:
    branches:
     - main
jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: microsoft/setup-msbuild@v2
      - run: nuget restore GameOfLife.sln
      - run: msbuild GameOfLife.sln /p:Configuration=Release
      - run: |
          vstest.console.exe UnitTests\bin\Release\**\UnitTests.dll